/*
Add your custom css here. Do not touch on style-color-name.css files
*/
.box-title a { 
	color:#444444 !important
	}
#section-header .site-logo img {
	width: 125px !important;

}
.hotline ul li { 
	display: inline-block;
	}
.mobslide {
	font-family: 'Lato' !important;
	font-size:2em !important;
	color: #198dc7;
	 font-weight: 300 !important;
}
.mobslide-h {
	font-family: 'Lato' !important;
	font-size:4.5em !important;
	color:#007CC4 !important;
	 font-weight: 300 !important;
}
.mobslide-hwhite {
	font-family: 'Lato' !important;
	font-size:4.5em !important;
	color:#fff !important;
	 font-weight: 300 !important;
}

.mobslide-white {
	font-family: 'Lato' !important;
	font-size:2em !important;
	color:#efefef !important;
	 font-weight: 300 !important;
}
.moving-zone .popup h2{
	font-size:25px;
	}
#block-block-112, 
#block-block-118,
#block-block-124,
#block-block-117,
#block-block-116 {
	  padding: 35px 0 0 0;
}
#section-page-title {

 margin-bottom: 0px !important;
}

#block-block-47 { padding: 0 !important}

.page-node-110 .region-user-00 { background: #ccc; }

.page-node-110 .dexp-grid-item.col-lg-3.col-md-3.col-sm-6.col-xs-12 { width: 25% !important; left: 0 !important; position:inherit !important; }


#block-views-active-job-list-block a { 
  color: #333;
  font-size: 18px;
  font-weight: 500;
  }

#block-views-active-job-list-block .block-title {
	font-size: 55px !important;
  font-weight: 500;
  margin: 0;
  padding-top: 39px;
}

.node-career-add-new-job .field-type-text-with-summary .field-label {
	text-transform: capitalize;
  border-bottom: 1px solid #e4e3e3;
  padding: 20px 0 10px 0;
  font-size: 24px !important;
  font-family: 'Oswald', sans-serif;
  	
}
input[type="email"] {
  background: #F5F5F5;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: none;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 15px;
  padding: 5px;
  resize: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  vertical-align: middle;
    width: 100%;
}
#edit-submitted-resume-upload { margin-bottom: 15px;}

.region-right-sidebar #block-webform-client-block-107 .form-item {  
  margin-top: 0;
  margin-bottom: 0;}
#block-webform-client-block-107 .block-title {
	margin-top:20px;}
	
.width-sixty { width:60%;}
#block-views-blog-categories-block{ margin-top: 8%;}


.page-node-110 .dexp-shortcodes-box { height: 59px;}
.page-node-110 .dexp-shortcodes-box h3 {  
	margin-top: 1px;
  padding-top: 15px;
  }
#block-views-active-job-list-block .view-active-job-list .views-row {   
   border-bottom: 1px solid #EFEFEF;
  margin-bottom: 13px;
  padding-bottom: 6px;
 }
#block-views-active-job-list-block .view-active-job-list {
	  margin-top: 15px;
}

#block-views-active-job-list-block-1 .view-active-job-list a{
	font-size: 16px;
	color: #ccc;
	font-weight: 100;
}
#block-menu-menu-bottom-footer-menu a, #block-menu-menu-footer-menu-2 a{
	font-size: 16px;
	color: #ccc;
	font-weight: 100;
}
#block-menu-menu-bottom-footer-menu ul li.expanded a,
#block-menu-menu-footer-menu-2 ul li.expanded a { 
	font-size:18px !important; 
	font-weight:500 !important;
}

#block-menu-menu-bottom-footer-menu ul li.expanded ul li a,
#block-menu-menu-footer-menu-2 ul li.expanded ul li a { 
	font-size:15px !important; 
	font-weight:100 !important;
}

#block-menu-menu-footer-menu-2 .block-title { text-indent: -999px;}

.node-type-career-add-new-job .node-career-add-new-job {
	float: left;
	width: 48%;	
	font-family: "Lato", sans-serif;
	font-weight: 500;
}

#block-webform-client-block-107 {
	margin-top: 2%;
  width: 48%;
  float: right;
/*  border: 1px solid #ccc;*/
  padding: 1%;
  background-color: #FFFDFD;
 /* box-shadow: 3px 3px 3px #ccc;*/
  margin-bottom: 20px;
    background: url(/sites/all/themes/orane/assets/images/bg-partners.png) repeat;
 }
#block-webform-client-block-107 label {
   
    font-weight: 500;
}
#node-164 {
	margin-top: 2%;
	}
#block-webform-client-block-107 .webform-component--personal-information--your-name,
#block-webform-client-block-107 .webform-component--personal-information--email-id,
#block-webform-client-block-107 .webform-component--professional-information--primary-skills,
#block-webform-client-block-107 .webform-component--professional-information--total-work-experience,
#block-webform-client-block-107 .webform-component--professional-information--notice-period,
#block-webform-client-block-107 #edit-submitted-resume-ajax-wrapper {
	   width: 49%;
	  float: left;
	  margin-right: 2%;
  }
  
#block-webform-client-block-107 .webform-component--personal-information--mobile-number,
#block-webform-client-block-107 .webform-component--personal-information--current-location,
#block-webform-client-block-107 .webform-component--professional-information--secondary-skills,
#block-webform-client-block-107 .webform-component--professional-information--relevant-experience,
#block-webform-client-block-107 .webform-component--professional-information--expected-ctc
 {
	float: left;
	width: 49%;	
}

#block-webform-client-block-107 .form-item, .form-actions {
   margin-top: 0 !important; 
   margin-bottom: 0 !important; 
}

#block-webform-client-block-107 textarea, 
#block-webform-client-block-107 input[type="text"], 
#block-webform-client-block-107 input[type="password"],
#block-webform-client-block-107 input[type="email"] {
  background: #FBFBFB !important;
}

.btn-primary:hover {    
	background-color: #fff !important;
}

#block-webform-client-block-107 .form-actions { 	
	float: right;
	width: 49%;	
}
#block-webform-client-block-107 .form-actions input { 	
	  float: right;
  margin-top: 66px;	
}	
b, strong {
  font-weight: 700;
}

input[type="email"]:hover {
 border: 1px solid #198dc7 !important;
  background: #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#section-bottom {
  background: url(/sites/all/themes/orane/assets/images/bg-bottom.jpg) no-repeat !important;
    background-size: 100%;
	}

#section-bottom .address {
  font-weight: 300 !important;
} 
#section-bottom .address li {
  padding-bottom: 10px !important;
}
#block-block-68 img {   opacity: 0.5;
}
#block-views-active-job-list-block .field-content b { font-weight: 300;}

#block-block-47 .panel-body { font-weight: 400;}
#block-views-team-block-1 p { color: #262525;}
#node-108 label {
      font-weight: 500;
}
#block-views-clients-block .bx-wrapper .bx-viewport {
	background: none;}
	
.member img {
    top: 88px;
}	

#section-clients .view-Clients .view-content img:hover {

     cursor: default !important; }

.member img {
    top: 147px;
}

#block-views-team-block-1 .dexp-grid-item {  position: inherit !important;
    width: 25% !important;
    height: 200px !important;
    left: 0px !important;
     float: left !important;
}
	