/*
Add your custom css here. Do not touch on style-color-name.css files
*/
.box-title a { 
	color:#444444 !important
	}
#section-header .site-logo img {
	width: 125px !important;

}
.hotline ul li { 
	display: inline-block;
	}
.mobslide {
	font-family: 'Lato' !important;
	font-size:2em !important;
	color: #198dc7;
	 font-weight: 300 !important;
}
.mobslide-h {
	font-family: 'Lato' !important;
	font-size:4.5em !important;
	color:#007CC4 !important;
	 font-weight: 300 !important;
}
.mobslide-hwhite {
	font-family: 'Lato' !important;
	font-size:4.5em !important;
	color:#fff !important;
	 font-weight: 300 !important;
}

.mobslide-white {
	font-family: 'Lato' !important;
	font-size:2em !important;
	color:#efefef !important;
	 font-weight: 300 !important;
}
.moving-zone .popup h2{
	font-size:25px;
	}
#block-block-112, 
#block-block-118,
#block-block-124,
#block-block-117,
#block-block-116 {
	  padding: 35px 0 0 0;
}
#block-block-47 {  
	width: 32%;
  float: left;
  margin-left: 20%;
  }
#block-block-227 {
	width: 48%;
  float: left;
  }


